[Desktop Entry]
Type=Application
Name=Bluetoothctl
GenericName=Bluetooch Manager
Icon=utilities-terminal
Terminal=true
Exec=bluetoothctl
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
