
/* colors */

* {
  al:      #000000;
  bg:      #1d2021;
  se:      #f5f5f5;
  fg:      #d4be98;
  ac:      #2900D0;
  red:     #ea6962;
  green:   #a9b665;
  yellow:  #d8a657;
  blue:    #7daea3;
  purple:  #d3869b;
  cyan:    #89b482;
  borders: #383E40;
}
